* {
  font-family: 'Poppins', sans-serif;
}

*:focus {
  outline: none;
}

.about-main-title {
  padding: 30px 140px 0 140px;
  color: #2D2F44;
  font-weight: 600;
  font-size: 50px;
}

.brochure-point {
  width: 100%;
}

.brochure-point-title {
  width: 470px;
  height: 62px;
  background-color: #4488C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brochure-point-title p {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.brochure-point-content {
  width: 1060px;
  margin-left: 140px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #2D2F44;
}

.brochure-point-content h5 {
  font-size: 32px;
  font-weight: 600;
  color: #2D2F44;
  margin: 0;
}

.brochure-point-content img {
  margin: 50px 0px;
}

.brochure-point-content-with-subtitle {
  margin-bottom: 60px;
}

@media (max-width: 1400px) {
  .about-main {
    overflow: hidden;
  }
  .about-main-title {
    padding: 30px 80px 0 80px;
    color: #2D2F44;
    font-weight: 600;
    font-size: 50px;
  }
  .brochure-point {
    width: 100%;
  }
  .brochure-point-title {
    width: 420px;
    height: 62px;
    background-color: #4488C1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .brochure-point-title p {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  .brochure-point-content {
    width: 992px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
    color: #2D2F44;
  }
  .brochure-point-content h5 {
    font-size: 32px;
    font-weight: 600;
    color: #2D2F44;
    margin: 0;
  }
  .brochure-point-content img {
    margin: 50px 0px;
  }
  .brochure-point-content-with-subtitle {
    margin-bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .about-main {
    overflow: hidden;
  }
  .about-main-title {
    padding: 30px 50px 0 50px;
    color: #2D2F44;
    font-weight: 600;
    font-size: 40px;
  }
  .brochure-point {
    width: 100%;
  }
  .brochure-point-title {
    width: 420px;
    height: 62px;
    background-color: #4488C1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .brochure-point-title p {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
  .brochure-point-content {
    width: 850px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
    color: #2D2F44;
  }
  .brochure-point-content h5 {
    font-size: 32px;
    font-weight: 600;
    color: #2D2F44;
    margin: 0;
  }
  .brochure-point-content img {
    margin: 50px 0px;
  }
  .brochure-point-content-with-subtitle {
    margin-bottom: 60px;
  }
}

@media (max-width: 850px) {
  .about-main {
    overflow: hidden;
  }
  .about-main-title {
    padding: 30px 40px 0 40px;
    color: #2D2F44;
    font-weight: 600;
    font-size: 40px;
  }
  .brochure-point {
    width: 100%;
  }
  .brochure-point-title {
    width: 420px;
    height: 62px;
    background-color: #4488C1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 100px;
  }
  .brochure-point-title p {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  .brochure-point-content {
    width: 576px;
    margin-left: 40px;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 400;
    color: #2D2F44;
  }
  .brochure-point-content h5 {
    font-size: 32px;
    font-weight: 600;
    color: #2D2F44;
    margin: 0;
  }
  .brochure-point-content img {
    margin: 50px 0px;
    width: 420px;
  }
  .brochure-point-content-with-subtitle {
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .about-main {
    overflow: hidden;
  }
  .about-main-title {
    padding: 30px 30px 0 30px;
    color: #2D2F44;
    font-weight: 600;
    font-size: 40px;
  }
  .brochure-point {
    width: 100%;
  }
  .brochure-point-title {
    width: 420px;
    height: 62px;
    background-color: #4488C1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .brochure-point-title p {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  .brochure-point-content {
    width: 330px;
    margin: 50px auto 50px auto;
    font-size: 18px;
    font-weight: 400;
    color: #2D2F44;
  }
  .brochure-point-content h5 {
    font-size: 32px;
    font-weight: 600;
    color: #2D2F44;
    margin: 0;
  }
  .brochure-point-content img {
    margin: 50px 0px;
    width: 320px;
  }
  .brochure-point-content-with-subtitle {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=About.css.map */