* {
  font-family: 'Poppins', sans-serif;
}

*:focus {
  outline: none;
}

.footbar {
  position: relative;
  width: 100%;
  margin-top: 250px;
  height: 358px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footbar-items-container {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin: 0 224.9856px;
}

.footbar-copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #3F88C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footbar-copyright p {
  font-size: 15px;
  color: white;
}

.footbarItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footbarItems-companyDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footbarItems-companyContacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footbarItems-navigation {
  height: 100%;
  width: 789px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px;
}

.footbarNavigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-right: solid 1px #3F88C0;
  border-left: solid 1px #3F88C0;
  margin: 43px 0;
}

.footbarNavigation > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
}

.footbarNavigation-item {
  margin-top: -20px;
  -webkit-box-flex: .9;
      -ms-flex: .9;
          flex: .9;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footbarNavigation p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #2D2F4455;
  font-weight: normal;
  font-size: 18px;
  width: 100%;
}

.footbarNavigation-about-link {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footbarNavigation-about-link * {
  text-decoration: none;
  font-size: 15px;
  color: #2D2F44;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.footbarNavigation-about-link *:hover {
  opacity: .4;
}

.company-contacts {
  width: 218px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-contacts-title {
  font-size: 16;
  color: #2D2F44;
}

.company-contacts-social-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 36px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company-contacts-social-item {
  height: 1;
}

.company-contacts-private-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0;
}

.company-contacts-private-item {
  width: 218px;
  height: 41px;
  border: solid 1px #3F88C0;
  border-radius: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 10px;
}

.company-contacts-private-item-icon {
  height: 100%;
  width: 49px;
  background-color: #3F88C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-contacts-private-item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-contacts-private-item-text p {
  font-size: 13px;
  color: #3F88C0;
}

@media screen and (max-width: 1400px) {
  .footbar-items-container {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    margin: 0 140.616px;
  }
  .footbar-company-details img {
    width: 200px;
  }
  .footbar-company-details p {
    font-size: 10px;
  }
  .footbar-copyright p {
    font-size: 10px;
  }
  .footbarNavigation {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-right: solid 1px #3F88C0;
    border-left: solid 1px #3F88C0;
    margin: 55px 0;
  }
  .footbarNavigation-about-link * {
    text-decoration: none;
    font-size: 13px;
    color: #2D2F44;
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .company-contacts {
    width: 136.2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-contacts-title {
    font-size: 15px;
    color: #2D2F44;
  }
  .company-contacts-social-container img {
    width: 20px;
  }
  .company-contacts-private-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px 0;
  }
  .company-contacts-private-item {
    width: 160.2492px;
    height: 25.62492px;
    border: solid 1px #3F88C0;
    border-radius: .3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .company-contacts-private-item img {
    width: 20px;
  }
  .company-contacts-private-item-icon {
    height: 100%;
    width: 40px;
    background-color: #3F88C0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .company-contacts-private-item-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-contacts-private-item-text p {
    font-size: 8px;
    color: #3F88C0;
  }
}

@media screen and (max-width: 1200px) {
  .footbar-items-container {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    margin: 0 68.616px;
  }
  .footbar-company-details img {
    width: 200px;
  }
  .footbar-company-details p {
    font-size: 10px;
  }
  .footbar-copyright p {
    font-size: 10px;
  }
  .footbarNavigation-about-link * {
    text-decoration: none;
    font-size: 10px;
    color: #2D2F44;
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .company-contacts {
    margin-top: 20px;
  }
}

@media screen and (max-width: 850px) {
  .footbarNavigation {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .footbar {
    width: 100%;
    margin-top: 250px;
    height: auto;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footbar-items-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
  }
  .footbar-copyright {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #3F88C0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footbar-copyright p {
    font-size: 10px;
    color: white;
  }
  .footbarItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20%;
  }
  .footbarItems-companyDetails {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footbarItems-companyContacts {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footbarItems-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footbarNavigation {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footbarNavigation > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 10%;
  }
  .footbarNavigation-item {
    margin-top: -20px;
    -webkit-box-flex: .1;
        -ms-flex: .1;
            flex: .1;
    width: 62.1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footbarNavigation p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #2D2F4455;
    font-weight: normal;
    font-size: 18px;
    width: 100%;
  }
  .footbarNavigation-about-link {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footbarNavigation-about-link * {
    text-decoration: none;
    font-size: 15px;
    color: #2D2F44;
    opacity: 1;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .footbarNavigation-about-link *:hover {
    opacity: .4;
  }
  .company-contacts {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-contacts-title {
    font-size: 16;
    color: #2D2F44;
  }
  .company-contacts-social-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20%;
  }
  .company-contacts-social-item {
    height: 1;
  }
  .company-contacts-private-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 10px 0;
  }
  .company-contacts-private-item {
    width: 218px;
    height: 41px;
    border: solid 1px #3F88C0;
    border-radius: .5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .company-contacts-private-item-icon {
    height: 100%;
    width: 49px;
    background-color: #3F88C0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .company-contacts-private-item-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-contacts-private-item-text p {
    font-size: 13px;
    color: #3F88C0;
  }
}
/*# sourceMappingURL=Footbar.css.map */